# ------------------------------------
# 1. Entorno Virtual y Dependencias
# ------------------------------------
# Directorio del entorno virtual (no debe ser versionado)
/venv/

# ------------------------------------
# 2. Archivos de Compilación de Python
# ------------------------------------
# Directorios de caché y compilación
__pycache__/

# Archivos de caché del bytecode de Python
*.pyc
*.pyd
*.so

# Directorios de caché creados por librerías de testing (si usas pytest, por ejemplo)
.pytest_cache/

# ------------------------------------
# 3. Archivos del Editor/IDE (VS Code)
# ------------------------------------
# Carpeta de configuración de VS Code.
# Se ignora si la configuración es específica de tu máquina.
# Si contiene configuraciones importantes para el proyecto (tasks, launch configs)
# que deben compartirse, puedes descomentar la línea.
#.vscode/

# ------------------------------------
# 4. Archivos Temporales y del Sistema Operativo
# ------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db